.container {
  padding: 20px;
  border-radius: 8px;
}

.title {
  color: #333;
  font-size: 24px;
}

.content {
  color: #666;
  font-size: 16px;
}

.duck {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.img {
  max-width: 200px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.duckName {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
